[Unit]
Description=Dunst notification daemon
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/dunst
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=graphical-session.target
