@import "fonts.scss";
@import "colors.scss";
@import "cheatsheet/cheatsheet.scss";
@import "onboarding/onboarding.scss";
* {
  all: unset;
}

tooltip {
  background-color: #14171c;
  color: #b8bfe5;
  font-family: $ui-font;
  font-weight: Bold;
  font-size: 1rem;
}

// @import "profilecard/profilecard.scss";
// @import "player/player.scss";
//
