/**
 * Main launcher (drun). Delta over base: width + lines.
 */

@import "base.rasi"

configuration {
    drun-icon-theme: "Tela circle blue dark";
}

window {
    width: 45%;
}

listview {
    lines: 8;
}
