* {
    background:     #282a36;
    background-alt: #21222c;
    foreground:     #f8f8f2;
    selected:       #bd93f9;
    selectedone:    #ff79c6;
    urgent:         #ff5555;
    active:         #50fa7b;
}
