* {
    background:     #282c34;
    background-alt: #21252b;
    foreground:     #abb2bf;
    selected:       #61afef;
    selectedone:    #e06c75;
    urgent:         #e06c75;
    active:         #98c379;
}
