* {
    background:     #000e2c;
    background-alt: #000e2c;
    foreground:     #c2c4c7;
    selected:       #787fff;
    selectedone:    #9443ff;
    urgent:         #0056e9;
    active:         #fe139f;
}
