* {
    background:     #0e0b13;
    background-alt: #1c1f26;
    foreground:     #cfd8ca;
    selected:       #bbe236;
    selectedone:    #d7af42;
    urgent:         #ee5b2b;
    active:         #507cf1;
}
