* {
    background:     #1e0000;
    background-alt: #1e0000;
    foreground:     #c4c1c1;
    selected:       #ffb1b1;
    selectedone:    #ff7171;
    urgent:         #ee0000;
    active:         #ff2020;
}
